<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <appSettings>
    <add key="SiteTitle" value="Natural Product Communications"/>
    <add key="CacheEnabled" value="true"/>
    <add key="AbsCacheTime" value="8"/>
    <add key="ExceptionLogging" value="true"/>
    <add key="ResetPassEmail" value="Your password was reset by a NPC system administrator.  Your updated account information is below.&lt;br /&gt;Upon logging in you must change your password.&lt;br /&gt;&lt;br /&gt;Email: {0}&lt;br /&gt;Password: {1}" />
    <add key="EmailSubject" value="Naturalproduct.us - {0}" />
  </appSettings>
  <connectionStrings>
    <add name="NPC" connectionString="server=DEVNPC;database=NPC;uid=NPC_WEB_USR;pwd=Z2JirNQL" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="NPC"/>
</configuration>
