/* 
 * File: layout.css
 * Purpose: Styles defined here are used in the layout.
 * Author: Monish Nagisetty
 * Date: 11/16/2009
*/

/*
 * Headers 
*/
#PageHeader
{
    width: 760px;
}

#PageSubHeaderLeft
{
	padding: 2px 70px 2px 0px; /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	border-width: 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	background-color: #bdbabd; 
	color: #09c;
	font-size: x-large;
	font-weight: 600;
	font-family: verdana, Times, Arial;
}

#PageSubHeaderRight
{
	padding: 20px 0px 0px 0px; /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	border-width: 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	background-color: #bdbabd; 
	color: #000080;
	font-size: x-large;
	font-weight: 500;
	font-family: verdana, Times, Arial;
	height: 80px;
	width: 500px;
	white-space: nowrap;
	vertical-align: middle;
	text-align: right;
}


#PageSubHeader
{
	padding: 1px 0px 2px 180px; /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	font-size: small;
	background-color: #09c;
    color: white;
    text-decoration: none;
    border: 2px outset #ccc;
}

#PageSubHeader a
{
    color: #000000;
}

/*
 * Footers
*/
#PageFooter
{
    text-align: center;
	font-size: xx-small;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
}

#PageFooterOrig
{
	margin: 50px 0px 10px 0px;
	padding: 8px 0px 5px 20px; /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height: 33px; /* 14px + 17px + 2px = 33px */
	border-style: solid;
	border-color: black;
	border-width: 1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	line-height: 11px;
	background-color: #eee; /* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity.  Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it.  IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style  declaration. The incorrect IE5/Win value is above, while the correct value is  below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 14px; /* the correct height */
	font-size: xx-small;
	text-decoration: none;
	font-weight: 600;
	font-family: verdana, arial, helvetica, sans-serif;

}

/*
 * Navigation
*/
#Navigation
{
	float: left;
	width: 150px;
}

#Menu
{
	position: absolute;
	padding: 10px;
    top: 128px;
	left: 20px;
	width: 130px;
	background-color: #eee;
	border: 2px outset #999;
	line-height: 17px; /* Again, the ugly brilliant hack. */
}

#AdminMenu
{
	position: absolute;
	padding: 10px;
    top: 220px;
	left: 20px;
	width: 130px;
	background-color: #eee;
	border: 2px outset #999;
	line-height: 17px; /* Again, the ugly brilliant hack. */
}

/*
 * Content
*/

#Content
{
	padding: 10px;
	margin: 0px 50px 50px 180px;
	width: 500px;
}


#Content > p
{
	margin: 0px;
}
#Content > p + p
{
	text-indent: 30px;
}

#BodyHead h1
{
    display: inline;
}

#BodyHead a
{
    float: right;
}

p
{
	font: 11px/20px verdana, sans-serif;
	margin: 0px 0px 16px 0px;
	padding: 0px;
}

#BodyContent
{
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 10px 10px; /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height: auto;
	width: 550px;
    text-align: left; 
}

#BodyContent div
{
	font-size: 11px;  
}

#TblContent > td
{
	text-align: center;
	vertical-align: top;
}
