<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	</configSections>
	<appSettings>
		<add key="SiteTitle" value="Natural Product Communications"/>
		<add key="CacheEnabled" value="true"/>
		<add key="AbsCacheTime" value="8"/>
		<add key="ExceptionLogging" value="true"/>
    <add key="ResetPassEmail" value="Your password was reset by a NPC system administrator.  Your updated account information is below.&lt;br /&gt;Upon logging in you must change your password.&lt;br /&gt;&lt;br /&gt;Email: {0}&lt;br /&gt;Password: {1}" />
    <add key="EmailSubject" value="Naturalproduct.us - {0}" />
    <add key="AnalyticsID" value="DevelopmentID" />
  </appSettings>
	<connectionStrings>
    <add name="NPC" connectionString="server=DEVNPC\SQLEXPRESS;database=NPC;uid=NPC_WEB_USR;pwd=Z2JirNQL" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<dataConfiguration defaultDatabase="NPC"/>
	<system.web>
		<pages masterPageFile="~/SiteMasters/Secure.master" enableViewState="false" compilationMode="Always"/>
		<authentication mode="Forms">
			<forms name="Login" loginUrl="Secure/Login.aspx" defaultUrl="Secure/Home.aspx" cookieless="AutoDetect" protection="All" timeout="10" path="/"/>
		</authentication>
		<authorization>
			<allow users="?"/>
		</authorization>
		<compilation defaultLanguage="c#" debug="true">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/>
			</compilers>
			<assemblies>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<customErrors defaultRedirect="Error.aspx" mode="RemoteOnly"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization culture="en-US" uiCulture="en-US"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
	<location path="Secure">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Data">
		<system.web>
			<authorization>
				<deny users="?, *"/>
			</authorization>
		</system.web>
	</location>
	<location path="Tmp_Data">
		<system.web>
			<authorization>
				<deny users="?, *"/>
			</authorization>
		</system.web>
	</location>
	<system.net>
		<mailSettings>
			<smtp from="customerservice@naturalproduct.us">
				<network host="192.168.0.6" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
